body{
    background-image: url("../images/antman/ant.jpg");
    background-size: 100%;
    background-repeat: repeat;
  }

  .pood{
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    top: 90px;
  
  }
  .pood .guu{
    position: absolute;
    bottom: 0px;
    font-size: 180%;
    padding: 10px;
    font-style: italic;
    background: #0dddf01c;
    color: rgb(72, 233, 51);
    width: 95%; 
  }
  
  h1{
    font-size: 210% ;
  }
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: grab;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgb(29, 25, 25);
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px rgb(38, 43, 37);
  }
  .button:hover {
    background-color:green;
  }
  .button:active {
    background-color: #3e3e41;
    box-shadow: 0 5px #666;
    transform: translatey(4px);
  }
  .tab {
    margin-left: 700px;
    margin-bottom: 5px;
  }
  #antman {
    margin-top: 135px;
    font-family:'Courier New, Courier, monospace, sans-serif';
    border-collapse: collapse;
    
    width: 70%;
  }
  #antman td,
  #antman th {
    border: 1px solid rgba(233, 171, 39, 0.883);
    padding: 13px;
    background-color:rgba(33, 32, 34, 0.883);
    text-align: justify;
    color:silver;
    font-style: italic;
    font-size: 100%;
    opacity:0.9;
  }
  #antman tr:hover {
    background-color:blue;
  
    
  }
  #antman th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: justify;
    background-color: #36aad8;
    color: white;
  }
  