


body{
    background-image: url("../images/captainmarvel/bg.jpg");
    background-repeat: repeat;
    background-size: 100%;
}
    
.pok{
    margin-left: 65px;
    margin-top: 10px;
    position:relative;
    font-size: 140%;
    padding: 15px;
    font-style: italic;
    background: #503f3f71;
    color:gold;
    width: 90%; 
  }