


body{
    background-image: url("../images/hulk/hulkbg.jpg");
    background-repeat: repeat;
    background-size: 100%;
}


.pok{
    margin-left: 65px;
    margin-top: 300px;
    position:relative;
    font-size: 180%;
    padding: 15px;
    font-style: italic;
    background: #2d3d1f49;
    color:rgb(247, 247, 252);
    width: 90%; 
  }