


body{
    background-image: url("../images/blackwidow/bg.jpg");
    background-repeat: repeat;
    background-size: 100%;
}
    
.pok{
    margin-left: 65px;
    margin-top: 300px;
    position:relative;
    font-size: 160%;
    padding: 15px;
    font-style: italic;
    background: #503f3f71;
    color:rgb(243, 242, 234);
    width: 90%; 
  }