.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .column {
    flex: 70%;
    padding: 0 10px;
  }
  .column img {
    margin-top: 100px;
    margin-left: 25px;
    border-radius: 20px;
  }
  body{
      background-image: url("../images/valkyre/bg.jpg");
      background-repeat: repeat;
      background-size: 100%;
  }
  .content {
    position: absolute;
    background: rgb(0, 0, 0);
    background: #0505553f;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 30px;
    font-size: 120%;
    margin-top: 2.5%;
  }
  .learnmorecolor{
      color: yellow;
  }
  .learnmorecolor:hover{
    color: rgb(72, 255, 0);
  }
  .homepage{
      color: rgb(255, 255, 255);
      font-size: 200%;
      
      width: 40%;
      margin-left: 29%;
    }
    .homepage:hover{
        color: red;
    }
   
  .center{
      margin-left: 1%;
  }
  
  h3{
    font-family: Fantasy;
    /*background-color: rgba(255, 255, 255, 0);*/
    width: 18.2%;
    margin-left: 39%;
    margin-top: 0%;
    color: #313131;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    -webkit-animation: colorchange 20s infinite alternate;
  }
  @-webkit-keyframes colorchange {
    0% {
      color: rgb(227, 248, 35);
    }
    10% {
      color: #fff56d;
    }
    20% {
      color: rgb(180, 168, 0);
    }
    30% {
      color: rgb(227, 248, 35);
    }
    40% {
      color: #fff56d;
    }
    50% {
      color: rgb(185, 173, 0);
    }
    60% {
      color: yellow;
    }
    70% {
      color: #fff56d;
    }
    80% {
      color: rgb(184, 171, 0);
    }
    90% {
      color: rgb(227, 248, 35);
    }
    100% {
      color: rgb(187, 175, 1);
    }
  }