body{
    background-image: url("../images/ebonymaw/bg.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

body{
    margin:0;
    padding:0;
}
.name{
    position:absolute;
    top:5%;
    left: 50%;
    transform:translate(-50%,-50%);
    
   
}
h2{
    font-size: 4.5rem;
    font-family: serif;
    color: transparent;
    text-align: center;
    animation: effect 0.1s linear infinite;
    
    
}
@keyframes effect {
    100% {
        background: linear-gradient(
            #000000,#000000
        );
        -webkit-background-clip: text;
    }
}
/* SLIDER*/



* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 75%;
    position: relative;
    margin: auto;
    overflow: hidden;
    margin-top: 8%;
    box-shadow: 0 25px 35px 0 rgb(0, 0, 0), 0 25px 35px 0 rgb(0, 0, 0);
    
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    text-align: center;
}


.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.roundpic{
    margin-left: 3%;
    margin-top: 3%;
    display: inline-flex;
    box-shadow: 0 25px 35px 0 rgb(0, 0, 0), 0 25px 35px 0 rgb(0, 0, 0);
}


#rcorners {
    
    border-radius: 35px;
    border: 10px solid #000000;
    padding: 10px; 
    width: 850px;
    height: 52%;  
    float: right;
    color: rgb(230, 44, 255);
    font-size: 120%;
    margin-right: 30px;
    display: inline-flex;
  }
  u{
      color: yellow;
  }