body {
  background-image: url("../images/hela/bg.jpg");
  background-size: 100%;
  background-repeat: repeat;
}
h2 {
  color:gold;
  font-size: 450%;
  display: inline;
}


.pok{
  margin-left: 610px;
  margin-top: 180px;
  position:relative;
  font-size: 150%;
  padding: 10px;
  font-style: italic;
  background: rgb(0, 0, 0);
  background: #8f89913b;
  color:white;
  width: 50%; 
}
.button {
  margin-top: 105px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: grab;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:rgb(29, 25, 25);
  border: none;
  border-radius: 20px;
  box-shadow: 0 10px rgb(38, 43, 37);
}
.button:hover {
  background-color:green;
}
.button:active {
  background-color: #3e3e41;
  box-shadow: 0 5px #666;
  transform: translatey(4px);
}
.tab {
  margin-left: 660px;
  margin-bottom: 5px;
}
figure {
  width: 550px;
  box-shadow: 0 45px 65px 0 rgba(0, 0, 0, 0.7), 0 45px 65px 0 rgba(0, 0, 0, 0.7);
  margin-left: 10;
  float:left;
}
figure img {
  width: 100%;
}
figure figcaption {
  text-align: center;
  font-size: 35px;
  color: yellow;
  
}
