
.puki {
  float: left;
  margin-left: 2%;
  margin-top: 1%;
}

.pok {
  float: right;
  margin-right: 3.5%;
  margin-top: 11%;
}
.sacsook {
  float: right;
  margin-right: 2%;
  margin-top: 1%;
}
.dotmover{
  margin-left: 40%;
}
